.container {
    position: relative;
    margin: 0 12%;
    display: flex;
    justify-content: space-between;
}

.skill-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5% 0;
}

.skill-icon {
    margin-right: 50px;
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.background-heading {
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-size: 195px;
    text-transform: uppercase;
    opacity: 0.08;
    z-index: -1;
}

.background-heading {
    left: 0%;
    bottom: -25%;
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 0 10%;
        justify-content: normal;
        flex-direction: column;
    }

    .skill-item > h3 {
        font-size: 1em;
    }

    .skill-icon {
        margin-right: 40px;
        height: 40px;
        width: 40px;
    }

    .background-heading {
        display: none;
    }
}