.cards-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

.cards-container > a {
    height: 50vh;
}

.large-title {
    font-family: "Open Sans", sans-serif;
    font-size: 195px;
    text-transform: uppercase;
    opacity: 0.9;
    margin: -1% 0 4% 4%;
}